
/* Reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generales */

body {
    font-family: 'Roboto', sans-serif;
    color: #67666e;
    background-image: url('../img/fondoaws.jpg');
}

hr {
    margin-top: 0.5em;
}

/* Layout */

.fila {
    width: 100%;
    display: flex;
    padding: 0.5em;
}

.col-100 {
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.col-100.check {
    flex-direction: row;
    align-items: center;
}

.col-50 {
    width: 50%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

/* Formularios */

form {
    background-color: white;
    width: 40%;
    margin: 2em auto;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

label {
    font-size: 0.9em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

input {
    padding: 0.5em;
    font-size: 1.2em;
    color: #67666e;
    border-radius: 0.3em;
    border: 1px solid #67666e;
}

input[type="checkbox"] {
    margin-right: 1em;
}